@mixin button-style {
    padding: 1.2rem 5.9rem;
    font-size: 0.9rem;
    font-weight: 500;
    box-shadow: 0 3px 7px black;
    @media (max-width:700px) {

        padding: .7rem 3.5rem;
    }
}
@mixin button-hover{
        transform: scale(1.1);
        transition: 1s;
}

@mixin button-style-gold {
    width: 18.1rem;
        height: 9.38rem;
        background-color: #ECB235;
        a {
            color: black;
            font-size: 1.2rem;
        }
}

@mixin img-style($img-url, $size: cover, $position: center) {
    text-align: center;
    background-image: url($img-url);
    background-size: $size;
    background-position: $position;
    width: 500px;
    height: 500px;
    box-shadow: 0 3px 7px black;
    h1{
        margin-top: 30%;
        color: $fontColor;
        font-size: 2.5rem;
    }
    @media (max-width: 850px) {
        width: 450px;
        height: 300px;
    }
}

@mixin img-style1($img-url, $size: cover, $position: center) {
    background-image: url($img-url);
    background-size: $size;
    background-position: $position;
    box-shadow: 0 3px 7px black;
    height: 700px;
    width: auto;
    
}
@mixin img-style2($img-url, $size: cover, $position: center) {
    background-image: url($img-url);
    background-size: $size;
    background-position: $position;
    width: 600px;
    height: 422px;
    box-shadow: 0 3px 7px black;
    @media (max-width:1250px) {
        width: auto;
        height: 260px;
        padding: 2rem;
    }
}



@mixin banner($banner-color) {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    width: 180px;
    height: 48px;
    background-color: $banner-color;
}

@mixin logo($width: 223px, $height: 66px, $bg-color: #E9E9E9, $font-size: .9rem) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size;
    background-color: $bg-color;
    width: $width;
    height: $height;
    text-transform: uppercase;
}



