.footer{
    position: relative;
    background-color: black;
    width: 100%;
    height: auto;
    z-index: 3;
}

.footer__main-container {
    margin: 0 12%;
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

@media (max-width: 830px) {
    .footer__main-container {
        text-align: center;
    }
}
.footer__logo-box{
    padding-top: 3rem
}
.footer__logo {
    @include logo();
    margin: 0 12%;
}
@media (max-width:830px) {
    .footer__logo{
        margin: 0 auto;
    }
}

.footer__footer-bar {
    h1 {
        font-family: 'medium';
        padding-bottom: 3rem;
        font-size: 1.125rem;
        color: #fff;
    }
    li {
        padding: 4px 0;
    }
    li a {
        font-family: 'medium';
        font-size: 1.125rem;
        color: #fff;
    }
}

.footer__contact-info {
    color: #fff;
    i {
        padding-right: .8rem;
        font-size: 1.4rem;
    }
    p {
        font-family: 'medium';
        font-size: 1.125rem;
        padding-top: 1rem;
    }
    a {
        font-family: 'medium';
        font-size: 1.125rem;
        color: #fff;
    }
}

.footer__soc {
    i {
        color: #fff;
        font-size: 1.7rem;
    }
}

.footer__fa-facebook {
    padding-left: .3rem;
}

.footer__create-be {
    color: #fff;
    margin: 5% 12% 0 12%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    font-family: 'medium';
    font-size: 1.125rem;
}
.footer__miranda{
    display: flex;
    justify-content: center;
    
    p{
        font-family: 'medium';
        font-size: 1.125rem;
        color: #fff;
        padding: 0 1.5rem;
    }
}
@media (max-width:932px) {
    .footer__create-be{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 3rem 0;
        gap: 30px;
    }
}
