/*product section*/
.nav-product {
    ul {
        margin-top: 22rem;
        margin-bottom: 5rem;
        display: flex;
        justify-content: center;
        gap: 2.5rem;
    }
    button{
        font-family: 'light';
        font-size: 1rem;
        background-color: #fff;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: 1s;
    }
}
.Novinky.active{
    font-family: 'light';
    font-weight: bold;
    font-size: 1.5rem;
    transition: 1s;
    transform: scale(1.2);
}
.Doporučené.active{
    font-family: 'light';
    font-weight: bold;
    font-size: 1.5rem;
    transition: 1s;
    transform: scale(1.2);
}
.Nejprodávanější.active{
    font-family: 'light';
    font-weight: bold;
    font-size: 1.5rem;
    transition: 1s;
    transform: scale(1.2);
}

.product-content {
    max-width: 1550px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    transition: all 1s ease;
    
    .product{
        margin: 0 auto;
        width: 22rem;
        position: relative;
        transition: transform 0.3s ease;
    }
    .product:hover{
        transform: scale(1.2);
        border: solid 1px black;
        box-shadow: 0 3px 7px black;

    }
    .product:hover .shoping-cart{
        display: flex;
        animation: shake 0.6s ease-out;
    }
    @media (max-width:800px) {
        .product{
            width: 15rem;
        }
        .img-product{
            width: 200px;
            transition: width 1s ease, height 1s ease, transform 1s ease;
        }
        .product-content{
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }
    
    .img-product {
        background-color: transparent;
        width: 100%;
    }
    a{
        font-family: 'medium';
        text-align: left;
        color: black;
        font-size: 1.125rem;
    }
    h2 {
        font-family: 'roboto-thin';
        padding: 1rem;
        color: green;
        font-size: .9rem;
        font-weight: map-get($font-weights, 'regular' );
    };
    p{
        font-size: 1.5rem;
        padding:1rem ;
    };
    p span {
        text-transform: uppercase;
    };
    .banner-new{
        margin: 1rem 0;
        @include banner(#63DA46)
    }
    .banner-sale {
        @include banner(#F24D4D)
    }
    .banner {
        position: absolute;
        top: 10%;
        right: 0%;
    }
    .shoping-cart{

        display: none;
        justify-content: center;
        align-items: center;
        width: 70px; 
        height: 70px;
        background-color: black;
        position: absolute;
        bottom: .8rem;
        right: .8rem;
        transition: transform 0.3s ease;
        cursor: pointer;
        box-shadow: 0 3px 7px black;
        i{
            font-size: 1.7rem;
            color: white;
        }
      
    }
    
}
@media (max-width:800px) {
    .product-content{
        .product:hover{
            transform: scale(1.1);}
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        transition: all 1s ease;
    }
}
.btn-moreview {
    text-align: center;
    grid-column: span 4;
    padding: 1.2rem 5.9rem;
    font-size: 0.9rem;
    font-weight: 500;
    button{
    @include button-style;
    }
}


@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}
.btn-more-product {
    display: block;
    margin: 3.2rem auto;
    @include button-style;
&:hover{
    @include button-hover
    }
}