.main-banner {
    padding: 10rem 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    position: relative;
    width: 75%; 
    z-index: 3;
}

 .banner-content{
    display: flex;
    width: 80%;
    margin: 0 4rem;
    img{
        width: 55px;
        height: 55px;
    }
    p{  font-family: 'medium';
        margin-left: 20px;
        font-size: 1.125rem;
    }
}
 .banner-content1{
    display: flex;
    width: 80%;
    margin: 0 4rem;
    font-family: 'medium';
    img{
        border: solid 2px #ECB235;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        margin: auto 0;
    }
    p{
        margin-left: 20px;
        font-size: 1.125rem;
    }
}
 @media (max-width:1359px) {
    .main-banner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .banner-content-span{
        margin: 0 auto;        
        img{
        margin: auto 0;

        }
    }
}
@media (max-width:650px){
    .main-banner{
        padding: 4rem 0;
    }
    .banner-content{
        margin: 0 auto;
        img{
            width: 35px;
            height: 35px;
        }
        p{
            font-size: .8rem;
        }
    }
    .banner-content1{
        margin:0 auto;
        img{
            width: 25px;
            height: 25px;
        }
        p{
            font-size: .8rem;
        }
    }
}