//<!-- SEKCE PRO HLAVNÃ OBSAH S BUTTONEM KUPUJ -->

.main-screen {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem; 
    width: 100%; 
    max-width: 1550px; 
    margin: 0 auto; 
    justify-items: center; 
    align-items: center; 
    text-align: center;

    .main-screen__img1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include img-style('/img/c2-01.png');
        filter: brightness(1.5) blur(2px) drop-shadow(.5px);
    }

    .main-screen__img2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include img-style('/img/c2-02.jpg');
    }

    .main-screen__img3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include img-style('/img/c2-03.jpg', 200%, 45% 30%);
    }
}



@media (max-width:1572px) {
    .main-screen{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:1036px) {
    .main-screen{
        grid-template-columns: 1fr;
    }
}

/*SEKCE VYBER SI Z NASI NABIDKY*/
.main-screen2 {
    background-color: black;
    width: 100%;
    height: 640px;
    margin-top: 3rem;
    h1{
        font-family: 'medium';
        font-weight: 500;
        padding: 3.5rem 0;
        text-align: center;
        color: $fontColor;
        font-size: 2.25rem;
    }
}
@media (max-width:1250px) {
    .background{
    width: 100%;
    height: 30rem;    
}
}
.main-screen2__board {
    gap: 3;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 1550px;
    margin: 0 auto;
    .main-screen2__imgRelative1 {
        @include img-style1('/img/c3-01.jpg');
        
    }
    .main-screen2__imgRelative2 {
        position: relative;
        button{
            display: none;
            transition: 1s;
        }
        button:hover{
            transform: scale(1.2)
        }
        @include img-style1('/img/c2-02.jpg');
    }
    .main-screen2__imgRelative3 {
        @include img-style1('/img/c2-03.jpg',350%);
    }
    .main-screen2__imgRelative4 {
        position: relative;
        @include img-style1('/img/c3-04.jpg');
        button{
        position: absolute;
        right: 0;
        @include button-style-gold;
        margin-top: 8.5rem;
        }
        button:hover{
            transition: 1s;
            transform: scale(1.1);
        }
    }
    
    @media (max-width: 1250px) {
        .main-screen2__imgRelative1 {
            a{
                font-size: 2rem;
            }
            margin-left: 30px;
            width: auto;
            height: 600px;
        }
        .main-screen2__imgRelative2 {
            a{
                font-size: 2rem;
            }
            margin-right: 30px;
            width: auto;
            height: 600px;
            button{
                right: 0;
                position: absolute;
                display: block;
                @include button-style-gold;
                }
        }
        .main-screen2__imgRelative3 {
            display: none;
        }
        .main-screen2__imgRelative4 {
            display: none;
        }
        a{
            font-size: .7rem;
        }
    }
    
    a span {
        text-transform: uppercase;
    }


    }


        




